<%- include("partials/header.ejs") %>
<ul>
    <li>
        <h2><%= businessPosts[index].title %></h2>
        <p><%= businessPosts[index].content %></p>
    </li>
</ul>

<%- include("partials/footer.ejs") %>
