<%- include("partials/header.ejs") %>

    <ul>
    <li>
        <h2><%= culturePosts[index].title %></h2>
        <p><%=culturePosts[index].content %></p>
    </li>
    </ul>

<%- include("partials/footer.ejs") %>
