<%- include("partials/header.ejs") %>
    <ul>
        <li>
            <h2>
                <%= post.title %>
            </h2>
            <p>
                <%=post.content %>
            </p>
        </li>
    </ul>
    <%- include("partials/footer.ejs") %>